<!--Gallery block-->
<section class="section gallery">
    <div class="container">
        <!--Interactive title-->
        <h2 class="visually-hidden" lang="en">Picture ice cream</h2>

        <!--Images list-->
        <ul>
            <li>
                <picture>
                    <source srcset="../images/gallery/posuda-1280.png, 
                    ./images/gallery/posuda-1280@2x.png 2x" media="(min-width: 1280px)">
                    <source srcset="../images/gallery/posuda-768.png, 
                    ../images/gallery/posuda-768@2x.png 2x" media="(min-width: 768px)">
                    <source srcset="../images/gallery/posuda-320.png, 
                    ./images/gallery/posuda-320@2x.png 2x" media="(min-width: 320px)">
                    <img src="../images/gallery/posuda-320.png" alt="Dishes picture">
                </picture>
            </li>
        </ul>

    </div>
</section>